# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# RabbitMQ
RABBITMQ_URL='amqp://rabbitmq:rabbitmq@localhost:5672'

# The database URL of Prisma ORM
USER_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/users?schema=public&sslmode=disable&pgbouncer=false'
ACCESS_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/access?schema=public&sslmode=disable&pgbouncer=false'
DOOR_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/door?schema=public&sslmode=disable&pgbouncer=false'
LOG_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/log?schema=public&sslmode=disable&pgbouncer=false'
CARD_DATABASE_URL='postgresql://postgres:postgres@localhost:5432/card?schema=public&sslmode=disable&pgbouncer=false'
DATABASE_URL='postgresql://user:password@localhost:5432/dbname?schema=public&sslmode=disable&pgbouncer=false'

# Ports
USER_SERVICE_PORT=4000
USER_SERVICE_URL='http://localhost:4000'
ACCESS_SERVICE_PORT=4001
ACCESS_SERVICE_URL='http://localhost:4001'
DOOR_SERVICE_PORT=4002
DOOR_SERVICE_URL='http://localhost:4002'
LOG_SERVICE_PORT=4003
LOG_SERVICE_URL='http://localhost:4003'
CARD_SERVICE_PORT=4004
CARD_SERVICE_URL='http://localhost:4004'

AUTH_SECRET='supersecret'
INTERNAL_API_SECRET='supersecret'